.navbar{
    background-color: aliceblue;
    justify-content: center;
}

.about-me-heading{
    margin-top: 25px;
}

.currency-heading{
    padding-bottom: 25px;
}

.split{
    border: none;
    border-top: 5px solid black;
    max-width: 1250px;
    margin: 25px auto;
}

.snowflake-icon{
    position: relative;
    top: -70px;
    background-color: white;
    padding: 15px;
}

.p-about-me{
    position: relative;
    top: -50px;
}

.currency{
    text-align: center;
    position: relative;
}

.container>ul{
    list-style-type: none;
    position: relative;
    top: -50px;
}

.container{
    position: relative;
    text-align: center;
}

.my-hobbies-heading{
    margin-top: 50px;
}
